<html>
    <head>
        <title>Quiz</title>
    </head>
    <body>
        <h1>Zaczynamy quiz!</h1>
        
        <form method="POST">
            {% for p in pytania %}
                <p>
                    {{ p.pytanie }}
                    <br>
                    {% set pnr = loop.index0 %}
                    {% for o in p.odpowiedzi %}
                        <label>
                            <input type="radio" value="{{ o }}" name="{{ pnr }}">
                            {{ o }}
                        </label>
                        <br>
                    {% endfor %}
                </p>
            {% endfor %}

            <button type="submit">Sprawdź odpowiedzi</button>
        </form>

    </body>
</html>
